.field {
  align-items: center;
  border: 3px solid #071c31;
  border-radius: 2px;
  display: flex;
  font-family: monospace;
  font-size: 6rem;
  font-weight: 700;
  justify-content: center;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background: rgb(133, 52, 150);
    transform: scale(1.05);
    cursor: pointer;
    color: #000;
  }
}
